body {
    min-height: 100%;
    min-width: 100%;
    background-color: var(--tg-theme-bg-color);
}

h1 {
    text-align: center;
    color: var(--tg-theme-text-color);
}

input {
    margin: 10px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    width: 100%;
}

textarea {
    margin: 10px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 10px;
    width: 100%;
}

form {
    flex-flow: nowrap;
}